/* This is Common CSS file. */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none !important; color: #555; cursor: pointer; }
img { border: 0; }