/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

  /* 320
  576
  768
  992
  1200 */

  /* 
  #d0c6bc
  #6b6350
  #39313b
  #70ad92
  #aadac5
  #d1ebd9 
  */


  /* 작성자 : 김정호 (읽은 후 삭제 해도 됨ㅎㅎ)

   - 현재 메인 페이지 디자인을 보면 배경이나 기타 범위일 경우 '100%'를 주고
  다른 곳도 %로 대응해도 문제가 없을 거라고 생각됨.
   - 지금 CSS가 잘 대응 하고 있는것 같음.
   - 브라우저크기 키웠다 줄였다 하다보면 로그인 폼이 왼쪽에서 나오다 마는 버그가 있는거같은데
   크게 대응은 안해도 될듯함.

  */

body, html, #contentBox{
  height: 100%;
  overflow: hidden;
}

#contentBox{
   display: inline;
}


/* 메인 동영상 화면 */
#mainDiv1{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #d0c6bc;
}

#skipBtn1, #skipBtn2{
  font-family: 'Anton', sans-serif;
  position: absolute;
  font-size: 40px;
  left: 50%;
  bottom: 30px;
  color: #39313b;
  /* text-shadow: 5px 5px 10px #d1ebd9; */
  transition: 0.5s;
  cursor: pointer;
  transform: translate(-50%);
}

/* #skipBtn1:hover{
  transform: translate(-80%);
  color: #70ad92;
} */

/* #skipBtn1:hover > #skipBtn2{
  transform: translate(100%);
  visibility: visible;
  opacity: 1;
  color: #70ad92;
} */

#skipBtn2{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    right: 0; 
    top: 2px; 
}

/* //메인 동영상 화면 */



#mainDiv2{
  top: 100%;
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url('../img/mainImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#upBtn{
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 500;
  
}

.fa-arrow-up{
  font-size: 50px;
  /* color: #39313b; */
  color: red;
  transition: 0.5s;

}
.fa-arrow-up:hover{
  transform: translateY(-30%)
}



#loginDiv{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #d0c6bc;
  /* right: -30%; */
  /* z-index: 100; */
  text-align: center;
}

#title{
  color: #39313b;
  font-family: 'Pacifico', cursive;
  margin-top: 10%;
}

#joinDiv{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #39313b;
  /* right: -100%; */
  /* z-index: 100; */
}

#findDiv{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #6b635d;
  /* right: -100%; */
  /* z-index: 100; */
}


.loginForm table{
  margin: 0 auto;
}






/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
      
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {

#loginDiv, #joinDiv, #findDiv{
  position: absolute;
  height: 100%;
  width: 40%;
  right: -40%;
}
    
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {

  #loginDiv, #joinDiv, #findDiv{
    position: absolute;
    height: 100%;
    width: 40%;
    right: -40%;
  }

}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {

  #loginDiv, #joinDiv, #findDiv{
    position: absolute;
    height: 100%;
    width: 40%;
    right: -40%;
  }
  
}