/* 기본 CSS를 작성합니다. (세로모드 모바일 디바이스)
  기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다.
  가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) */

#mainDiv{

border: 1px solid black;
width: 100%;
height: 300px;
position: relative;
overflow: hidden;

}

#navDiv{

    /* box-sizing: border-box; */
    background-color: red;
    height: 60px;
    position: relative;
}

#navOptionDiv{

    border: 1px solid black;
    height: 100%;
    width: 60px;
    position: absolute;


}

#navTitleDiv{
    border: 1px solid black;
    height: 100%;
    position: absolute;
    line-height: 60px;
    font-size: 30px;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#navTitleDiv{

    left: 30px;

}

#navOptionDiv{

    right: 30px;
    text-align: center;

}

.fa-bars{
    font-size: 60px;
    color: yellow;
}

.fa-bars:hover{
    cursor: pointer;
}

#toggleMenu{

    width: 100px;
    height: 100px;
    background-color: violet;
    position: absolute;
    right: 0px;
    bottom: 150px;

}

#selectDiv{

width: 30%;

}

*[data-animation="ripple"] {
    height: 100%;
    width: 100%;
    display: block;
    outline: none;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
    box-sizing: border-box;
    text-align: center;
    line-height: 14px;
    font-family: roboto, helvetica;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  /*border-radius: 50px;*/
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
}

*[data-animation="ripple"]:focus {
    outline: none;
}

*[data-animation="ripple"]::selection {
    background: transparent;
    pointer-events: none;
}








/* 가로 해상도가 576px 보다 큰 화면에 적용 */
@media screen and (min-width: 576px) {
      
}

/* 가로 해상도가 768px 보다 큰 화면에 적용 */
@media screen and (min-width: 768px) {
    
}

/* 가로 해상도가 992px 보다 큰 화면에 적용 */
@media screen and (min-width: 992px) {

}
/* 가로 해상도가 1200px 보다 큰 화면에 적용 */
@media screen and (min-width: 1225px) {
    
}